<div id="sign-up">
	<form action="submit">
		<div>
			<label for="email">Email :</label>
			<input type="email" required id="email" placeholder="Enter your email" />
		</div>
		<div>
			<label for="password">Password :</label>
			<input type="password" required id="password" placeholder="Enter your password" />
		</div>
		<div>
			<label for="confirm-password">Confirm password :</label>
			<input type="password" required id="confirm-password" placeholder="Confirm your password" />
		</div>
		<button type="submit">Sign Up</button>
	</form>
</div>
