@import "../../styles.scss";

div {
	display: flex;
	justify-content: flex-end;
	background-color: $white;
	border-bottom: 1px solid $lighter-grey;

	a {
		margin: 1rem;
		text-decoration: none;
	}
}
